<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="./css/bootstrap/bootstrap.min.css" >
	<!--引入字体样式-->
	<link rel="stylesheet" href="./css/fontawesome/all.min.css">
		<link href="css/myinfo.css" type="text/css" rel="stylesheet">
		<link rel="stylesheet" href="../../static/css/font_2y2coaxfdl/iconfont.css">
    <title>我的主页</title>
  </head>
  <body>
	  <div class="header">
	      <span class="left">
	          <div class="left-txt">
	              <span><a href="">首页</a></span>
	              <span><a href="">关于</a></span>
	              <span><a href="">分类</a></span>
	              <span><a href="">搜索</a></span>
	          </div>
	          <img src="img/1.png" alt="">
	      </span>
	      <span class="center">
	          <img src="img/2.png" alt="">
	          <h1>知更鸟</h1>
	      </span>
	      <span class="right">
	          <div class="right-content">
	              <span><a href="">个人中心</a></span>
	              <a href=""><i class="iconfont icon-shuru" href="" style="color: gray;" ></i></a>
	          </div>
	          <img src="img/3.png" alt="">
	      </span>
	      <div class="decoration">
	          <img src="img/7.svg" alt="">
	      </div>
	  </div>
	  	<div class="box">
			<div class="content"> 
				<a href="#"><img src="img/22.jpg" id="img5"  alt="" ></a>
				<br />
				<a id="name1">奶味爱丽丝</a>
				<br />
				<a id="message1">桃李春风一杯酒，江湖夜雨十年灯</a>
			</div>
	  	</div>
		<div class="container">
			<div class="row">
				<div class="box1 col-3">
					<!-- 个人信息卡片 -->
					<div class="card" id="card001">
						<div class="card border-light" style="width: 100%;">
							<div class="card-body">
								<h6 class="card-subtitle mb-4" style="font-weight:bold;">个人信息</h6>
								<p class="card-subtitle mb-3">昵称：<a>奶味爱丽丝</a></p>
								<p class="card-subtitle mb-3">签名：<a>桃李春风一杯酒，江湖夜雨十年灯</a></p>
								<p class="card-subtitle mb-3">电话：<a>15507437234</a></p>
								<p class="card-subtitle mb-3">Q Q：<a>1254809709</a></p>
								<p class="card-subtitle mb-3">微信：<a>12345678</a></p>
								<button type="button" class="btn btn-light" id="btn00" onclick="hide()">点击编辑</button>
							</div>
						</div>
					</div>
					<div class="card" id="card002" style="display: none;">
						<div class="card border-light" style="width: 100%;">
							<div class="card-body">
								<h6 class="card-subtitle mb-4" style="font-weight:bold;">个人信息</h6>
								<p class="card-subtitle mb-3">昵称：<input class="input" style="height: 25px;width: 75%;" placeholder="奶味爱丽丝" /></p>
								<p class="card-subtitle mb-3">签名：<input class="input" style="height: 25px;width: 75%;" placeholder="桃李春风一杯酒，江湖夜雨十年灯" /></p>
								<p class="card-subtitle mb-3">电话：<input class="input" style="height: 25px;width: 75%;" placeholder="15507437234" /></p>
								<p class="card-subtitle mb-3">Q Q： <input class="input" style="height: 25px;width: 75%;" placeholder="1254809709" /></p>
								<p class="card-subtitle mb-3">微信：<input class="input" style="height: 25px;width: 75%;" placeholder="12345678" /></p>
								<button type="button" class="btn btn-light" id="btn01" onclick="show()">确认修改</button>
							</div>
						</div>
					</div>
					<!-- 按钮栏 -->
					<div class="card2 mt-4">
						<a class="btn btn-lg btn-block mb-3" href="ppage.html" role="button" style="background-color: #fd9800; ">我的发布</a>
						<a class="btn btn-lg btn-block mb-3" href="myinfo.html" role="button" style="background-color: #4aac9b; ">我的通知</a>
						<a class="btn btn-lg btn-block mb-3" href="mypoint.html" role="button" style="background-color: #56bde9; ">我的关注</a>
					</div>
				</div>
				<div class="box2 col-8">
					<div class="content mt-2" id="mypage">
						<a >我的通知</a>
					</div>
					<div class="container">
							<div class="flex-box"  >
								<div class="name p-4">
									亲爱的  <a class="firname"  >奶味爱丽丝</a> : 
								</div>
								<div class="text ml-4 mr-4 "style="text-indent:50px;" >
									<a id="centertext" >你好！目前知更鸟网站正处于试运行状态，如果你有任何问题或是建议，可以点击关于页面找到联系方式告诉我们，让我们一起携手共建更好的知更鸟。</a>
								</div>
								<div class="name p-4" >
									<a id="text3" class="name" >知更鸟小管家</a>
									<a id="text4" class="time" >2020年12月18日</a>
								</div>
							</div>
							<div class="flex-box mt-4"  >
								<div class="name p-4">
									亲爱的  <a class="firname"  >奶味爱丽丝</a> : 
								</div>
								<div class="text ml-4 mr-4 "style="text-indent:50px;" >
									<a id="centertext" >你好！欢迎加入知更鸟大家庭！这里有许多热爱文学的小伙伴，希望你也能找到自己的知音。</a>
								</div>
								<div class="name p-4" >
									<a id="text3" class="name" >知更鸟小管家</a>
									<a id="text4" class="time" >2020年12月18日</a>
								</div>
							</div>
					</div>
				</div>
			</div>
		</div>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
	<script  type="text/javascript">
		function hide(){
		  var card1=document.getElementById("card001");
		  var card2=document.getElementById("card002");
		  card1.style.display='none';
		  card2.style.display='block';
		}
		function show(){
		  var card1=document.getElementById("card001");
		  var card2=document.getElementById("card002");
		  card1.style.display='block';
		  card2.style.display='none';
		}
	</script>
    <script src="./js/plugins/jQuery/jquery-3.3.1.slim.min.js"></script>
    <script src="./js/plugins/bootstrap/popper.min.js"></script>
    <script src="./js/plugins/bootstrap/bootstrap.min.js"></script>
  </body>
</html>