<!doctype html>
<html lang="en">
	<head>
		<!-- Required meta tags -->
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

		<!-- Bootstrap CSS -->
		<link rel="stylesheet" href="./css/bootstrap/bootstrap.min.css">
		<!--引入字体样式-->
		<link rel="stylesheet" href="./css/fontawesome/all.min.css">
		<link href="css/othersp.css" type="text/css" rel="stylesheet">
		<link rel="stylesheet" href="../../static/css/font_2y2coaxfdl/iconfont.css">
		<title>Ta的主页</title>
	</head>
	<body>
		<div class="header">
			<span class="left">
				<div class="left-txt">
					<span><a href="">首页</a></span>
					<span><a href="">关于</a></span>
					<span><a href="">分类</a></span>
					<span><a href="">搜索</a></span>
				</div>
				<img src="img/1.png" alt="">
			</span>
			<span class="center">
				<img src="img/2.png" alt="">
				<h1>知更鸟</h1>
			</span>
			<span class="right">
				<div class="right-content">
					<span><a href="">个人中心</a></span>
					<a href=""><i class="iconfont icon-shuru" href="" style="color: gray;"></i></a>
				</div>
				<img src="img/3.png" alt="">
			</span>
			<div class="decoration">
				<img src="img/7.svg" alt="">
			</div>
		</div>
		<div class="box">
			<div class="content">
				<a href="#"><img src="img/22.jpg" id="img5" alt=""></a>
				<br />
				<a id="name1">一只小鲨鱼</a>
				<br />
				<a id="message1">222</a>
				<div class="point mt-2">
					<button type="button" class="btn btn-outline-danger" id="pointbtn1"style="margin: auto;"  onclick="unpoint()"> + 关注</button>
					<button type="button" class="btn btn-danger" id="pointbtn2" style="display: none;margin: auto;" onclick="unpoint()"> √ 已关注</button>
				</div>
			</div>
		</div>
		<div class="container">
			<div class="row">
				<div class="box1 col-3">
					<!-- 个人信息卡片 -->
					<div class="card1">
						<div class="card border-light" style="width: 100%;">
							<div class="card-body">
								<h6 class="card-subtitle mb-4" style="font-weight:bold;">个人信息</h6>
								<p class="card-subtitle mb-3">昵称：<a>一只小鲨鱼</a></p>
								<p class="card-subtitle mb-3">签名：<a>222</a></p>
								<p class="card-subtitle mb-3">电话：<a>3333</a></p>
								<p class="card-subtitle mb-3">Q Q：<a>4444</a></p>
								<p class="card-subtitle mb-3">微信：<a>55555</a></p>
							</div>
						</div>
					</div>
				</div>
				<div class="box2 col-8">
					<div class="content mt-2" id="mypage">
						<a>Ta的主页</a>
					</div>
					<div class="container">
						<div class="flex-box" style="background-color: white;font-size: large;">
							<i class="iconfont icon-yinhao ml-5" style="color: orange;"></i>
							<div class="text ml-5 mr-5 mt-3">
								<a id="text11">大众没有辨别能力，因而无法判断事情的真伪，许多经不起推敲的观点，都能轻而易举的得到普遍赞同。</a>
							</div>
							<div class="authorname mr-5" id="author">
								<a id="text11"> ---《乌合之众》</a>
							</div>
							<div class="name p-5">
								<a id="text3" class="name">一只小鲨鱼</a>
							</div>
						</div>
						<div class="flex-box mt-5" style="background-color: white;">
							<i class="iconfont icon-yinhao ml-5" style="color: orange;"></i>
							<div class="text ml-5 mr-5 mt-3">
								<a id="text11">若有诗书藏于心，岁月从不败美人。</a>
							</div>
							<div class="authorname mr-5" id="author">
								<a id="text11"><br></a>
							</div>
							<div class="name p-5">
								<a id="text3" class="name">一只小鲨鱼</a>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>

		<!-- Optional JavaScript -->
		<!-- jQuery first, then Popper.js, then Bootstrap JS -->
		<script  type="text/javascript">
			function unpoint(){
			  var btn1=document.getElementById("pointbtn1");
			  var btn2=document.getElementById("pointbtn2");
			  if(btn1.style.display=='none') {
				  btn1.style.display='block';
				  btn2.style.display='none';
				  }
			  else {
				  btn1.style.display='none';
				  btn2.style.display='block';
				  };
			}
		</script>
		<script src="./js/plugins/jQuery/jquery-3.3.1.slim.min.js"></script>
		<script src="./js/plugins/bootstrap/popper.min.js"></script>
		<script src="./js/plugins/bootstrap/bootstrap.min.js"></script>
	</body>
