<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/bootstrap/bootstrap.min.css">
    <link rel="stylesheet" href="../static/css/index.css">
    <title>知更鸟-首页</title>
</head>

<body>
<div class="header">
        <span class="left">
            <div class="left-txt">
                <span><a href="/index/">首页</a></span>
                <span><a href="/about/">关于</a></span>
                <span><a href="/tosearch/">搜索</a></span>
                <span><a href="">管理</a></span>
            </div>
            <img src="../static/img/index/1.png" alt="">
        </span>
    <span class="center">
            <img src="../static/img/index/logo.png" alt="">
        <!-- <h1>知更鸟</h1> -->
        </span>
    <span class="right">
            <div class="right-content">
                <span><a href="/myinfo/"
                         style="text-decoration: none; font-size: 25px">{{ request.session.user_name }}</a></span>
                {% if request.session.is_login %}
                    <a href="/logout/" style="font-size: 20px">登出</a>
                {% else %}
                    <a href="/login/" style="font-size: 20px">登录</a>
                {% endif %}
                <span><a href="/write/"><img src="../static/img/index/edit.png" alt="" class="rp"></a></span>
            </div>
            <img src="../static/img/index/3.png" alt="">
        </span>
    <div class="decoration1">
        <img src="../static/img/index/7.svg" alt="">
    </div>
    <div class="decoration2">
        <img src="../static/img/index/u223.png" alt="">
    </div>
    <div class="decoration3">
        <img src="../static/img/index/8.svg" alt="">
    </div>
</div>
<div class="content">
    <div class="main">
        <div style="margin-left: 50px;">
            <a href="/write/" style="text-decoration: none; color: black" class="h1">点击开始你的创作！</a>
        </div>
        <div class="bg1"><img src="../static/img/index/9.jpg" alt=""></div>
    </div>
    <div id="slogan">
        <div style="padding-bottom: 30px;">灵感，让生活更简单</div>
        <div class="blocks">
            <div class="left-block">
                <div id="passage">
                    <div style="font-size: 75%;">文章推送</div>
                    <div style="font-size: 40%; padding: 10px 0;">精选文章，为你带来不一样的感受</div>
                    <button style="padding: 5px 0;"><a href="/toarticle/" style="text-decoration: none; color: white">看看这个</a>
                    </button>
                </div>
                <div id="images">
                    <div style="font-size: 75%;">图片推送</div>
                    <div style="font-size: 40%; padding: 10px 0;">精选图片，为你带来不一样的感受</div>
                    <button style="padding: 5px 0;"><a href="/toimg/"
                                                       style="text-decoration: none; color: white">看看这个</a></button>
                </div>
            </div>
            <div class="right-block">
                <div style="font-size: 90%;">热搜榜</div>
                <div class="list">
                    <ol style="font-size: 65%;">
                        {% for foo in hotdoc %}
                            <li><a href="/{{ foo.id }}/" style="text-decoration: none; color: black;">{{ foo.title }}</a></li>
                        {% endfor %}
                    </ol>
                </div>
            </div>
        </div>
    </div>
    <div class="spare">
        <div class="posts">
            <div id="spare-title">广场</div>
            <div class="post 1">
                <img src="../static/img/index/yinghao.png" alt="">

            </div>
            <div class="post 2">
                <img src="../static/img/index/yinghao.png" alt="">
            </div>
            <div class="post 3">
                <img src="../static/img/index/yinghao.png" alt="">
            </div>
            <div class="post 4">
                <img src="../static/img/index/yinghao.png" alt="">
            </div>
        </div>
        <div class="buttons">
            <button id="org"><a href="/mysend/" style="text-decoration: none;color: white">我的发布</a></button>
            <button id="gre"><a href="/mynotice/" style="text-decoration: none;color: white">我的通知</a></button>
            <button id="blue"><a href="/mypoint/" style="text-decoration: none;color: white">我的关注</a></button>
        </div>
        <div id="decoration4"><img src="../static/img/index/4.png" alt=""></div>
        <div id="decoration5"><img src="../static/img/index/10.svg" alt=""></div>
        <div id="decoration6"><img src="../static/img/index/10.png" alt=""></div>
        <div id="decoration7"><img src="../static/img/index/11.svg" alt=""></div>
        <div id="decoration8"><img src="../static/img/index/u215.jpg" alt=""></div>
    </div>

</div>
</body>
<script type="text/javascript">
    $(document).ready(function () {
        $("#toimg").click(function () {
            console.log("toimg")
            htmlobj = $.ajax({url: "/toimg/", async: true});
        });
    });
</script>
</html>