<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/passage.css">
    <title>知更鸟-文章推荐</title>
</head>

<body>
    <div class="header">
        <span class="left">
            <div class="left-txt">
                <span><a href="/index/">首页</a></span>
                <span><a href="/about/">关于</a></span>
                <span><a href="/tosearch/">搜索</a></span>
                <span><a href="">管理</a></span>
            </div>
            <img src="../static/img/passage/1.png" alt="">
        </span>
        <span class="center">
            <img src="../static/img/passage/logo.png" alt="">
            <!-- <h1>知更鸟</h1> -->
        </span>
        <span class="right">
            <div class="right-content">
                <span><a href="/myinfo/" style="text-decoration: none; font-size: 25px">{{ request.session.user_name }}</a></span>
                <span><a href=""><img src="../static/img/passage/edit.png" alt="" class="rp"></a></span>
            </div>
            <img src="../static/img/passage/3.png" alt="">
        </span>
        <div class="decoration">
            <img src="../static/img/passage/7.svg" alt="">
        </div>
    </div>
    <div class="content">
        <div style="font-size: xx-large; padding: 20px;">文章推荐</div>
        <div class="passage">
            <a class="main">
                <img src="../static/img/passage/u237.jpg" alt="">
                <div>余生很长，别慌张，别失望</div>
            </a>
        </div>
    </div>
    <div class="decoration2">
        <img src="../static/img/passage/u244.png" alt="">
    </div>
    <div class="decoration3">
        <img src="../static/img/passage/u245.png" alt="">
    </div>
    <div class="bottom-text">
        <div class="ph p1">
            关于知更鸟 - About Zhigengniao - 企业推广 - 免责声明 - 意见反馈及投诉 - 隐私政策
        </div>
        <div class="ph p2">
            © 2004-2020 Zhigengniao.com / 京网文 (2016) 6432-852号 / (京)-经营性-2016-0019
        </div>
        <div class="ph p3">
            网上有害信息举报专区 / 京ICP证050897号 / 京ICP备11001839号-1 / 京公网安备11000002000025号
        </div>
    </div>
</body>

</html>