<!doctype html>
<html lang="en">
	<head>
		<!-- Required meta tags -->
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

		<!-- Bootstrap CSS -->
		<link rel="stylesheet" href="bootstrap/bootstrap.min.css">
		<!--引入字体样式-->
		<link rel="stylesheet" href="./css/fontawesome/all.min.css">
		<link href="../static/css/personpage.css" type="text/css" rel="stylesheet">
		<link rel="stylesheet" href="../static/css/font_2y2coaxfdl/iconfont.css">
		<title>我的主页</title>
	</head>
	<body>
		<div class="header">
			<span class="left">
				<div class="left-txt">
					<span><a href="">首页</a></span>
					<span><a href="">关于</a></span>
					<span><a href="">分类</a></span>
					<span><a href="">搜索</a></span>
				</div>
				<img src="../static/img/info/1.png" alt="">
			</span>
			<span class="center">
				<img src="../static/img/info/2.png" alt="">
				<h1>知更鸟</h1>
			</span>
			<span class="right">
				<div class="right-content">
					<span><a href="">个人中心</a></span>
					<a href=""><i class="iconfont icon-shuru" href="" style="color: gray;"></i></a>
				</div>
				<img src="../static/img/info/3.png" alt="">
			</span>
			<div class="decoration">
				<img src="../static/img/info/7.svg" alt="">
			</div>
		</div>
		<div class="box">
			<div class="content">
				<a href="#"><img src="../static/img/info/22.jpg" id="img5" alt=""></a>
				<br />
				<a id="name1">奶味爱丽丝</a>
				<br />
				<a id="message1">桃李春风一杯酒，江湖夜雨十年灯</a>
			</div>
		</div>
		<div class="container">
			<div class="row">
				<div class="box1 col-3">
					<!-- 个人信息卡片 -->
					<div class="card" id="card001">
						<div class="card border-light" style="width: 100%;">
							<div class="card-body">
								<h6 class="card-subtitle mb-4" style="font-weight:bold;">个人信息</h6>
								<p class="card-subtitle mb-3">昵称：<a>奶味爱丽丝</a></p>
								<p class="card-subtitle mb-3">签名：<a>桃李春风一杯酒，江湖夜雨十年灯</a></p>
								<p class="card-subtitle mb-3">电话：<a>15507437234</a></p>
								<p class="card-subtitle mb-3">Q Q：<a>1254809709</a></p>
								<p class="card-subtitle mb-3">微信：<a>12345678</a></p>
								<button type="button" class="btn btn-light" id="btn00" onclick="hide()">点击编辑</button>
							</div>
						</div>
					</div>
					<div class="card" id="card002" style="display: none;">
						<div class="card border-light" style="width: 100%;">
							<div class="card-body">
								<h6 class="card-subtitle mb-4" style="font-weight:bold;">个人信息</h6>
								<p class="card-subtitle mb-3">昵称：<input class="input" style="height: 25px;width: 75%;" placeholder="奶味爱丽丝" /></p>
								<p class="card-subtitle mb-3">签名：<input class="input" style="height: 25px;width: 75%;" placeholder="桃李春风一杯酒，江湖夜雨十年灯" /></p>
								<p class="card-subtitle mb-3">电话：<input class="input" style="height: 25px;width: 75%;" placeholder="15507437234" /></p>
								<p class="card-subtitle mb-3">Q Q： <input class="input" style="height: 25px;width: 75%;" placeholder="1254809709" /></p>
								<p class="card-subtitle mb-3">微信：<input class="input" style="height: 25px;width: 75%;" placeholder="12345678" /></p>
								<button type="button" class="btn btn-light" id="btn01" onclick="show()">确认修改</button>
							</div>
						</div>
					</div>
					<!-- 按钮栏 -->
					<div class="card2 mt-4">
						<a class="btn btn-lg btn-block mb-3" href="ppage.html" role="button" style="background-color: #fd9800; ">我的发布</a>
						<a class="btn btn-lg btn-block mb-3" href="myinfo.html" role="button" style="background-color: #4aac9b; ">我的通知</a>
						<a class="btn btn-lg btn-block mb-3" href="mypoint.html" role="button" style="background-color: #56bde9; ">我的关注</a>
					</div>
				</div>
				<div class="box2 col-8">
					<div class="content mt-2" id="mypage">
						<a>我的主页</a>
					</div>
					<div class="container">
						<div class="flex-box" style="background-color: white;font-size: large;">
							<i class="iconfont icon-yinhao ml-5" style="color: orange;"></i>
							<div class="text ml-5 mr-5 mt-3">
								<a id="text11">大众没有辨别能力，因而无法判断事情的真伪，许多经不起推敲的观点，都能轻而易举的得到普遍赞同。</a>
							</div>
							<div class="authorname mr-5" id="author">
								<a id="text11"> ---《乌合之众》</a>
							</div>
							<div class="name p-5">
								<a id="text3" class="name">奶味爱丽丝</a>
								<a id="text4" class="time ml-2" href="#">删除</a>
								<a id="text4" class="time">2020年12月20日</a>
							</div>
						</div>
						<div class="flex-box mt-5" style="background-color: white;">
							<i class="iconfont icon-yinhao ml-5" style="color: orange;"></i>
							<div class="text ml-5 mr-5 mt-3">
								<a id="text11">若有诗书藏于心，岁月从不败美人。</a>
							</div>
							<div class="authorname mr-5" id="author">
								<a id="text11"><br></a>
							</div>
							<div class="name p-5">
								<a id="text3" class="name">奶味爱丽丝</a>
								<a id="text4" class="time ml-2" href="#">删除</a>
								<a id="text4" class="time ">2020年12月20日</a>
							</div>
						</div>
						<div class="flex-box mt-5 " style="background-color: white;">
							<i class="iconfont icon-yinhao ml-5" style="color: orange;"></i>
							<div class="text ml-5 mr-5 mt-3">
								<a id="text11">安静的努力，让成功替你发出声音。</a>
							</div>
							<div class="authorname mr-5" id="author">
								<a id="text11"><br></a>
							</div>
							<div class="name p-5">
								<a id="text3" class="name">奶味爱丽丝</a>
								<a id="text4" class="time ml-2" href="#">删除</a>
								<a id="text4" class="time">2020年12月20日</a>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>

		<!-- Optional JavaScript -->
		<!-- jQuery first, then Popper.js, then Bootstrap JS -->
		<script  type="text/javascript">
			function hide(){
			  var card1=document.getElementById("card001");
			  var card2=document.getElementById("card002");
			  card1.style.display='none';
			  card2.style.display='block';
			}
			function show(){
			  var card1=document.getElementById("card001");
			  var card2=document.getElementById("card002");
			  card1.style.display='block';
			  card2.style.display='none';
			}
		</script>
		<script src="./js/plugins/jQuery/jquery-3.3.1.slim.min.js"></script>
		<script src="./js/plugins/bootstrap/popper.min.js"></script>
		<script src="./js/plugins/bootstrap/bootstrap.min.js"></script>
	</body>
</html>
