body {
    background-color: rgb(252, 248, 242);
	height: 600px;
}

.header {
    width: 100%;
    height:55px;
}

.left {
    position: absolute;
    top: 0px;
    left: 0px;
}

.left-txt {
    display: flex;
    justify-content: space-around;
    position: absolute;
    top: 25px;
    width: 80%;
}

.left a {
    text-decoration: none;
    color: #fff;
    font-weight: 500;
}

.center {
    position: absolute;
    top: 0px;
    left: 43%;
}

.center h1{
    position: absolute;
    left: 28%;
    top: 0%;
    color: white;
    font-family: 宋体;
    font-weight:900;
    font-size:x-large;
}

.right {
    position: absolute;
    top: 0px;
    right: 0px;
}

.right-content {
    position:  absolute;
    display: flex;
    justify-content: space-around;
    width: 80%;
    top: 25px;
    right: 0px;
}

.right a {
    color: white;
}

.rp {
    width: 25px;
}

.decoration {
    position: absolute;
    top: 70px; 
    left: -30px;
 }

 .decoration img {
    width: 134.55px;
    height: 116.325px;
}
.box{
	display: flex;
	height: 200px;
	width: 100%;
	background-color: #deebf5;
	margin:auto;
}
.content{
	margin: auto;
	text-align: center;
}
#img5{
	width: 100px;
	height: 100px;
	margin-top: 20px;
	margin-bottom: 10px;
    border-radius: 50%;
    border: 1px solid #ccc;
}
#img5:hover{
    border: 1px solid #777;
}
#message1{
	font-size: 2px;
}
.container{
	display: flex; 
	height: 400px;
	flex-direction: column;
}
.flex-box{
	width: 100%;
	display: flex;
	flex-direction: row;
}

.box1{
	margin: 30px;
}
.box2{
	background-color: #fff4ff;
	margin-top: 30px;
}
.container .card-body{
	font-size: 12px;
}
.card{
	background-color: white;
	border: none;
} 
.box1 .card .btn{
	font-size: 5px;
	background-color: gainsboro;
	text-align: center;
}
.card2 .btn{
	color: white;
	font-size:medium;
}
#mypage{
	width: 100%;
	height:30px;
	font-size: small;
	font-weight:bold;
	text-align: center;
}
.flex-box2 .name{
	font-weight:bold;
}
